Source: kcov
Section: unknown
Priority: optional
Maintainer: Paul Dreik <github@pauldreik.se>
Build-Depends: debhelper (>= 10), cmake, binutils-dev,  libcurl4-openssl-dev, zlib1g-dev,  libdw-dev, libiberty-dev 
Standards-Version: 4.1.2
Homepage: https://github.com/SimonKagstrom/kcov
#Vcs-Git: https://anonscm.debian.org/git/collab-maint/kcov.git
#Vcs-Browser: https://anonscm.debian.org/cgit/collab-maint/kcov.git

Package: kcov
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: tool for generating and viewing code coverage
 kcov is a tool for generating coverage from a binary.
 The binary needs to be built with debug information.
 The output is by default html, which can be interactively
 explored with a web browser.

