name: CI
on: [push, pull_request]

jobs:
  build-linux:
    name: Build and test Linux executable
    runs-on: ubuntu-latest
    strategy:
      matrix:
        arch: [amd64, armv7, aarch64, ppc64le]

    steps:
      - uses: actions/checkout@v2

      - name: Prepare
        run: chmod u+x .github/workflows/*.sh

      - name: Build for matrix.arch == amd64
        if: ${{ matrix.arch == 'amd64' }}
        run: |
          sudo .github/workflows/generic-build.sh ${{ matrix.arch }}
          sudo .github/workflows/ci-run-tests.sh ${{ matrix.arch }}
          wget https://codecov.io/bash || true
          bash bash -s /tmp/kcov-kcov || true

      - name: Build for matrix.arch == i386
        if: ${{ matrix.arch == 'i386' }}
        run: |
          chmod u+x ./.github/workflows/setup-i386.sh
          sudo .github/workflows/setup-i386.sh
          sudo schroot -c mychroot -- ./.github/workflows/generic-build.sh ${{ matrix.arch }}
          sudo .github/workflows/ci-run-tests.sh ${{ matrix.arch }}

      - name: Build for matrix.arch == armv7, aarch64, ppc64le
        if: ${{ matrix.arch == 'armv7' || matrix.arch == 'aarch64' || matrix.arch == 'ppc64le' }}
        uses: uraimo/run-on-arch-action@v1.0.9
        with:
          architecture: ${{ matrix.arch }}
          distribution: ubuntu18.04
          run: |
            .github/workflows/generic-build.sh ${{ matrix.arch }}

  build-osx:
    name: Build and test OSX executable
    runs-on: macOS-latest
    env:
      CC: clang
      CXX: clang++

    steps:
      - uses: actions/checkout@v2

      - name: Prepare
        run: |
          chmod u+x .github/workflows/osx-build.sh .github/workflows/ci-run-tests.sh
          brew install zlib bash cmake pkgconfig python@3.9 openssl@1.1

      - name: Build for OSX
        run: |
          sudo .github/workflows/osx-build.sh
          sudo .github/workflows/ci-run-tests.sh

  build-freebsd:
    runs-on: macos-10.15
    name: Build and test FreeBSD executable
    steps:
    - uses: actions/checkout@v2
    - name: FreeBSD
      id: test
      uses: vmactions/freebsd-vm@v0.1.5
      with:
        usesh: true
        sync: rsync
        prepare: pkg install -y binutils cmake elfutils python bash git
        run: |
          chmod u+x .github/workflows/freebsd-build.sh .github/workflows/ci-run-tests.sh
          .github/workflows/freebsd-build.sh x86_64
          .github/workflows/ci-run-tests.sh
